<html>
<head>
  {% block rootHead %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ props.page.title or title }}</title>
    {% block headAssets %}
      {% for style in assets.styles %}
        {% if 'app' in style or 'docs' in style %}
          <link rel="stylesheet" href="{{ style }}">
        {% endif %}
      {% endfor %}
    {% endblock %}
    {% block head %}
    {% endblock %}
  {% endblock %}
</head>
<body class="fesk-docs">
{% block rootBody %}
  <div class="fesk-layout">
    <aside class="fesk-layout__menu">
      {% block docsHeader %}
        <div class="fesk-header">
          <h3 class="fesk-header__logo">
            {% block title %}
              <a href="/">
                {% if paths.dir == 'the-vault' %}
                  <img src="{{ assets['vault-logo'].url }}" alt="Hyperion" class="hyperion-logo" />
                {% elseif paths.dir == 'atlas' %}
                  <img src="{{ assets['atlas-logo'].url }}" alt="Hyperion" class="hyperion-logo">
                {% elseif paths.dir == 'react-vault' %}
                  <img src="{{ assets['react-vault-logo'].url }}" alt="Hyperion" class="hyperion-logo">
                {% else %}
                  <img src="{{ assets['hyperion-logo'].url }}" alt="Hyperion" class="hyperion-logo">
                {% endif %}
              </a>
            {% endblock %}
          </h3>
          {% if pkg.repository %}
            <div class="fesk-header__github">
              <a href="{{ pkg.repository }}" target="_blank">
                view on Github
              </a>
            </div>
          {% endif %}
          {% if pkg.repository and pkg.version %}
            <div class="fesk-header__version">
              <a class="fesk-header__version-link"
                 href="{{ pkg.repository }}/releases/tag/v{{ pkg.version }}" target="_blank">
                {{ pkg.version }}
              </a>
            </div>
          {% endif %}
        </div>
      {% endblock %}
      {% block docsSidebar %}
        <nav class="fesk-menu" data-simplebar>
          <ul class="fesk-menu__top">
            {% for name, collection in collections %}
              {% if(collection|length) %}
                <li class="fesk-menu__top-item">
                  {{ menuMap[name] or name }}
                  <ul class="fesk-menu__child">
                    {% for page in collection %}
                      <li
                        class="fesk-menu__child-item  {% if(page.paths === paths) %}fesk-menu__child-item--active{% endif %}">
                        {% if (page.paths.name === 'index') %}
                          <a href="{{ pagePrefix }}/{{ page.paths.dir }}">{{ page.name or page.paths.name }}</a>
                        {% else %}
                          <a
                            href="{{ pagePrefix }}/{{ page.paths.dir }}/{{ page.paths.name }}">{{ page.name or page.paths.name }}</a>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>
      {% endblock %}
    </aside>
    {% block docsContent %}
      <main class="fesk-layout__content">
        {% if(warning) %}
          <div class="fesk-info fesk-info--warning fesk-info--spaced">{{ warning | safe }}</div>
        {% endif %}
        {% if(info) %}
          <div class="fesk-info fesk-info--spaced">{{ info | safe }}</div>
        {% endif %}
        <div class="fesk-markdown markdown-body">
          {% block mainContent %}
            {{ contents|safe }}
          {% endblock %}
        </div>
      </main>
    {% endblock %}
  </div>
{% endblock %}
{% block assets %}
  {% if(assets.manifest) %}
  <script type="application/javascript">{{ assets.manifest.content() | safe }}</script>
  {% endif %}
  {% if(assets.vendor) %}
  <script type="text/javascript" src="{{ assets.vendor.url }}"></script>
  {% endif %}
  {% if(assets.app) %}
  <script type="text/javascript" src="{{ assets.app.url }}"></script>
  {% endif %}
  {% if(assets.docs) %}
  <script type="text/javascript" src="{{ assets.docs.url }}"></script>
  {% endif %}
{% endblock %}
{% block footerAssets %}{% endblock %}
</body>
</html>
